@import '../../../../scss/import.scss';

::ng-deep app-textarea {
  display: block;
}

.textarea {
  textarea {
    appearance: none;
    width: 100%;
    height: 120px;
    padding: 12px;
    font-size: 14px;
    font-family: $defaultFamily;
    border: 1px solid $borderColor;
    &.-error {
      border-color: $warningColor;
    }
  }
  &__label {
    @include label;
  }
}
