$brandColor: #00a273;
$fontColor: #282b2c;
$grayColor: #5f6c72;
$borderColor: #e1e7f0;
$backgroundColor: #f2f5f7;
$cautionColor: #f0b40c;
$warningColor: #d61543;
$shadowColor: rgba(0, 36, 47, 0.122);
